# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.userprefs

# Ignore build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log

# Visual Studio specific files
.vs/
.vscode/
**/*.code-workspace

# NuGet packages
*.nupkg
project.assets.json
project.nuget.cache

# Intermediate files
*.dgspec.json
*.editorconfig
*.genruntimeconfig.cache
*.sourcelink.json
*.CoreCompileInputs.cache
*.FileListAbsolute.txt
*.GenerateResource.cache

# Apphost
apphost.exe

# Ref files
ref/
refint/
